*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.books {
    position: relative;
    width: 98vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    /* padding: 20px; */
  }
  
.books  .up {
    position: relative;
    /* margin-bottom: 190px; */
    /* flex: 1; */
    height: 90vh;
    /* padding: 20px; */
  }
  
.books  .up img {
    /* display: block; */
    width: 100vw;
    height: auto;
  }
  
.books  .overlay {
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%, -50%); 
    /* width: 100%; */
    background-color: white; /* Semi-transparent background for the overlay */
    /* color: white; */
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
    /* z-index: 1;  */
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    /* z-index: 1; */
    margin-right: 60px;
    margin-top: 500px;
    height: 50vh;
    /* margin-bottom: 200px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    /* width: 20vw; */
  }

.books .status{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.books .status span{
    font-size: large;
}
.books .line{
    background-color: black;
    color: black;
    width: 62vw;
    height: 0.1vh;
}
.books .book{
    height: 30vh;
}
.book{
    display: flex;
    flex-direction: column;

}
.book .checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 4rem;
    padding: 10px;
}
.book .checkbox span{
    font-size: larger;
}
.book .one{
    display: flex;
    gap: 1rem;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}
.search input{
    padding: 20px;
    width: 28vw;

}
.search input::placeholder{
    font-size: large;
}
 .date{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.date .input{
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 22vw;
}
.checkbox .date input::placeholder{
    font-size: large;

}
.sb{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid black;
    width: 12vw;
    padding: 20px;
}
.sb span{
    font-size: larger;
}
.books .recent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}
.books .recent span{
    border: 1px solid black;
    border-radius: 1rem;
    width: 5vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.books .bu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: larger;
}


/* Down */
.books .down{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    padding: 20px;
    /* height: 100vh; */
    gap: 1rem;
    /* background-color: #D9D0E3; */
}
.books .left{
    /* flex:1; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 90vh;
    width: 20vw;
    border:1px solid black;
    gap:1rem;
    /* align-items: flex-start; */

}
.books .filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: larger;
}
.books .right{
    /* flex:2; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* height: 90vh; */
    width: 60vw;
    border:1px solid black;
    gap: 1rem;
    background-color: white;
}
.books .shead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.books .sl{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.books select{
    padding: 20px;
    height: 5vh;
    width: 15vw;
}
.books .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.books .sub{
    height: 5vh;
    padding: 20px;
}
.books .s2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    margin-right: 74px;
    margin-top: 80px;
}
.books .mainbox{
    display: flex;
    flex-direction: column;
    height: 25vh;
    border: 1px solid black;
    padding: 20px;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    /* width: 20vw; */

}
.mainbox .mhead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px; */
}
.mainbox .mhh .s{
    height: 2vh;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainbox .mhh{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
}
.mainbox .mdate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainbox .mtrain{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.mainbox .mbox{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    height: 9vh;
    width: 9vw;
    border: 1px solid black;
    padding: 10px;
    border-radius: 0.2rem;
}



  